body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	margin-top: 25px;
}

.menu li a:visited {
	color: #222;
}

.full {
	width: 65%;
	float: left;
}

.intro-text {
	color: #00838F;
}

.active::before {
	/*background-color: #efefef;
	padding: 5px 15px;*/
	content: '>  ';
	color: #00838F;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.book-list {
	width: 30%;
	float: left;
	border-right: 1px solid #efefef;
}

.book-details {
	width: 35%;
	float: right;
	padding-top: .5em;
}

.message {
	font-style: italic;
	font-weight: 300;
}

.submit-button {
	margin-left: 182px;
}

.menu {
	padding-left: 0;
	width: 20%;
	float: left;
	margin-top: 0;
	border-right: 1px solid #efefef;
	/*background: #efefef;*/
	padding: 25px 15px 105px 35px;
	margin-right: 5%;
	/*box-shadow: -1px 3px 14px -2px rgba(0,0,0,0.25);*/
}

.menu h3 {
	margin-top: 0;
}

.menu li {
	list-style: none;
	margin-bottom: .33em;
}

.menu a {
	text-decoration: none;
}

.book-list ul {
	padding-left: 0;
	list-style: none;
}

.book-form {
	float: left;
	width: 40%;
}

