body {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	color: #222;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.book-list {
	width: 50%;
	float: left;
}

.book-details {
	width: 50%;
	float: right;
}

.message {
	font-style: italic;
	font-weight: 300;
}

input {
	width: 500px;
}

input[type="textarea"] {
	height: 75px;
}

input[type="radio"] {
	width: 20px;
}

form>div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: center;
  justify-content: left;
  margin: 10px 5px;
}

form>div>label {
  font-weight: bold;
  margin-right: 10px;
  min-width: 150px;
  text-align: right;
  padding: 6px 9px;
}

form>div>div {
  -ms-flex: 1;
  flex: 1;
  max-width: 500px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

form>div>div>label {
  border: none;
  padding-left: 0;
}

form>div>div>* {
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  padding: 5px 8px;
  border: 1px solid #ccc;
}

form button[type="submit"] {
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(#222,#222);
  border: 1px solid #222;
}

.submit-button {
	margin-left: 182px;
}
